@import '../../../scss/settings';
@import '../../../scss/colors';
@import '../../../scss/app';

.tag {
    border-radius: 5px;
    display: inline-block;
    margin: 5px 10px;
    padding: 0.5em;
    box-sizing: border-box;
    border: 1px solid lighten($color: $grey2, $amount: 50);

    &:hover {
        border: 1px solid transparent;
        box-shadow: 0 1px 2px $grey1;
    }

    .labelText {
        display: inline-block;
        margin-right: 0.75em;
        cursor: pointer;
    }

    .remove {
        cursor: pointer;

        &:hover {
            color: $danger;
        }
    }
}
