<template>
    <transition name="fade">
        <div class="tag label" v-show="!isHidden" v-bind:class="{ hidden: isHidden }">
            <span class="labelText" role="button" @click="handleTagEdit"><font-awesome-icon :icon="icon.faTag" /> {{ tag.label }}</span>
            <span class="remove" v-if="!!onTagRemove" @click="handleTagRemove" role="button"><font-awesome-icon :icon="icon.faTimes"/></span>
        </div>
    </transition>
</template>

<script lang="ts" src="./Tag.ts"></script>
<style lang="scss" src="./Tag.scss" scoped></style>
