<template>
    <div class="inputWrapper" :class="{ hasError: !!error }">
        <label>
            <span class="labelText" v-if="label">{{ label }}</span>
            <span v-if="error" class="errorMessage">{{ error.errorMessage }}</span>
            <input type="text" :name="name" v-model="value" @change="handleChange" class="input" />
        </label>
    </div>
</template>

<script lang="ts" src="./TextInput.ts"></script>
<style src="./TextInput.scss" lang="scss" scoped></style>
