@import '../../scss/colors';
@import '../../scss/settings';

.inputWrapper {
    .labelText {
        display: block;
        font-size: 1rem;
        padding-bottom: 0.5em;
    }
}

.hasError {
    position: relative;

    .input {
        background-color: lighten($danger, 50);
        border-color: $danger;
    }

    .errorMessage {
        position: absolute;
        right: 0;
        top: -1.5em;

        padding: 0.5em 1em;

        background: $danger;
        color: $white;

        &:after {
            content: '▼';
            position: absolute;
            right: 1.5em;
            top: 2.15em;
            color: $danger;
        }
    }
}
