<template>
    <div class="grid-container loginForm">
        <div class="grid-x grid-margin-x grid-y grid-margin-y grid-padding-y">
            <div class="cell small-12 medium-8 large-6 large-offset-3 medium-offset-2">
                <div class="callout">
                    <h2>Sign in</h2>
                    <div v-if="error" class="errorContainer">{{ error }}</div>
                    <div v-if="$apollo.loading">Loading...</div>
                    <label class="label">
                        Login
                        <input type="email" name="email" class="input" v-model="email" />
                    </label>
                    <label class="label">
                        Password
                        <input type="password" name="password" class="input" v-model="password" />
                    </label>
                    <button class="button expanded primary" @click="login" :disabled="$apollo.loading">Send</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script src="./Login.ts" lang="ts"></script>

<style scoped src="./Login.scss" lang="scss"></style>
