@import '../../scss/app.scss';
@import '../../scss/dimensions';

.loginForm {
    height: 100vh;
    max-height: 100%;
    font-family: Roboto, sans-serif;
    align-items: center;
}

h2 {
    margin-bottom: 1rem;
    padding-bottom: $space-small;
    border-bottom: 1px solid $black;
}

.label {
    display: block;
    margin-top: 0;
    padding: inherit 0;
    font-size: 1.2rem;

    input {
        margin: $space-medium 0;
    }
}

.errorContainer {
    background: red;
    color: #fff;
    margin: $space-medium;
    padding: $space-medium;
}
