<template>
    <div class="pageContent">
        <Menu />
        <div class="grid-container fluid">
            <div class="grid-y categories">
                <div class="cell">
                    <h1>This is a Categories page</h1>
                </div>
            </div>
        </div>
    </div>
</template>
<script lang="ts" src="./Categories.ts"></script>
<style scoped lang="scss" src="./Categories.scss"></style>
