<template>
    <transition name="slide">
        <div class="grid-y grid-x align-middle">
            <div class="cell large-8 medium-10 align-middle" style="background: red;">
                <div class="callout">
                    <h5>Oops! Something went wrong...</h5>
                    <p>This page not exists or someone screwed up...</p>
                    <p>...but you always can find something interesting, just try the navigation or go to <a href="/">main page</a></p>
                </div>
            </div>
        </div>
    </transition>
</template>
