<template>
    <div class="pageContent">
        <Menu />
        <div class="grid-container fluid">
            <div class="grid-y articles">
                <div class="cell">
                    <h1>This is an Articles page</h1>
                </div>
            </div>
        </div>
    </div>
</template>
<script lang="ts" src="./Articles.ts"></script>
<style scoped lang="scss" src="./Articles.scss"></style>
