<template>
    <form class="tagForm" v-on:submit.prevent="handleSubmit" @change="handleChange">
        <fieldset class="fieldset">
            <legend>{{ title }}</legend>
            <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="medium-6 cell">
                        <text-input label="Tag label" placeholder="Enter tag short label" required="true" :model="label" inputName="label" :error="getFieldError('label')" />
                    </div>
                    <div class="medium-6 cell">
                        <text-input
                            label="Tag name"
                            placeholder="This will be automaticaly generated"
                            required="true"
                            readonly="true"
                            :model="name"
                            inputName="name"
                            :error="getFieldError('name')"
                        />
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="medium-6 cell">
                        <select-field :inputName="categories" multiple="true" :model="selectedCategories" :label="`Select category`" :options="categories" />
                    </div>
                    <div class="medium-6 cell">
                        <select-field :inputName="posts" multiple="true" :model="selectedPosts" :label="`Select posts`" :options="posts" />
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="cell">
                        <button type="submit" class="button expanded">Save</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</template>

<script lang="ts" src="./TagForm.ts"></script>
<style lang="scss" src="./TagForm.scss" scoped></style>
