<template>
    <div class="grid-x">
        <div class="cell large-auto">
            <div class="top-bar">
                <div class="top-bar-left">
                    <ul class="menu align-middle">
                        <li class="menu-text"><a href="/">Blog dashboard</a></li>
                        <li v-for="item in menu" :key="item.name" :class="{ 'is-active': item.isActive }">
                            <router-link :to="item.path" @click="() => onMenuChange(item.path)">{{ item.text }}</router-link>
                        </li>
                    </ul>
                </div>
                <div class="top-bar-center">
                    <ul class="menu">
                        <li><input type="search" placeholder="Search" /></li>
                        <li><button type="button" class="button">Search</button></li>
                    </ul>
                </div>
                <div class="top-bar-right">
                    <ul class="menu">
                        <li><a href="/" @click="() => logout()">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script src="./Menu.ts" lang="typescript"></script>
<style lang="scss" src="./Menu.scss"></style>
