@import '../../scss/settings';
@import '../../scss/colors';

$menu-vertical-margin: -1 * $menu-simple-margin;

.menu li {
    &.menu-text {
        background: transparent;
        font-family: 'Roboto', sans-serif;

        a,
        a:hover {
            background: transparent;
            color: $white;
            text-shadow: 0 1px 0 $black;
        }
    }

    &.is-active {
        background: $text-alternate-color;

        a,
        a:hover {
            color: $primary-color;
            background: $text-alternate-color;
            text-shadow: none;
        }
    }

    a {
        color: $text-alternate-color;
        margin: $menu-vertical-margin 0;
        text-shadow: 0 1px 1px #000;
    }

    a:hover {
        background: transparent;
        color: $white;
        text-shadow: none;
    }
}
