<template>
    <div class="inputWrapper" :class="{ hasError: !!error }">
        <label>
            <span class="labelText" v-if="label">{{ label }}</span>
            <span v-if="error" class="errorMessage">{{ error.errorMessage }}</span>
            <select v-bind:name="inputName" multiple="multiple" required="required" v-model="selectedOptions" @change="handleChange">
                <option v-for="option in options" v-bind:value="option" :key="option._id || option.name" selected="option.selected === true">{{ option.label }}</option>
            </select>
        </label>
    </div>
</template>

<script lang="ts" src="./SelectField.ts"></script>
<style lang="scss" src="./SelectField.scss"></style>
