<template>
    <h1 class="pageTitle">
        <font-awesome-icon v-bind:icon="icon" /><span>{{ title }}</span>
    </h1>
</template>

<script lang="ts" src="./PageTitle.ts"></script>
<style lang="scss" src="./PageTitle.scss" scoped></style>
