@import '../../scss/colors';

.pageTitle {
    border-bottom: 1px solid $grey2;
    font-size: 2em;

    padding-bottom: 0.25em;
    margin: 1em 0 2em;

    span {
        display: inline-block;
        margin-left: 0.5em;
    }
}
