<template>
    <div class="tagList">
        <PageTitle :title="title" :icon="icon.faTags" />
        <section class="content">
            <Loader :icon="icon.faSyncAlt" size="medium" v-if="isLoading" />
            <ul class="list" v-if="!isLoading">
                <li v-for="tag in tags" :key="tag.label">
                    <Tag :tag="tag" />
                </li>
            </ul>
        </section>
    </div>
</template>

<script lang="ts" src="./TagList.ts"></script>
<style lang="scss" scoped src="./TagList.scss"></style>
