<template>
    <transition name="slide">
        <div class="pageContent">
            <Menu />
            <div class="grid-container fluid">
                <div class="grid-y tags">
                    <div class="cell">
                        <TagForm />
                        <TagList />
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script lang="ts" src="./Tags.ts"></script>
