// greys
$grey1: #253237;
$grey2: #5c6b73;
$grey3: #9db4c0;
$grey4: #c2dfe3;

// blues
$blue1: #004398;
$blue2: #0582ca;
$blue3: #49b6ff;

// errors
$danger: #ee0505;
$warning: #ffd560;
$info: $blue2;
$success: #3adb76;

$dark: #222;
$white: #fff;
$primary-color: $grey1;
$accent-color: gold;
$link-color: $blue2;
$text-color: $grey2;
$text-alternate-color: $grey4;
$bg-primary-color: #f2f2f2;
$bg-alternate-color: #777;
