.loader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-self: stretch;
    height: 100%;

    svg {
        animation: spin 1s linear infinite;
        display: block;
        height: auto;
    }

    &.small svg {
        width: 24px;
    }

    &.medium svg {
        width: 48px;
    }

    &.big svg {
        width: 80px;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
