<template>
    <div class="loader" :class="{ medium: size === 'medium', small: size === 'small', big: size === 'big' }">
        <font-awesome-icon :icon="icon" />
    </div>
</template>

<script lang="ts" src="./Loader.ts"></script>
<style lang="scss" scoped src="./Loader.scss"></style>
