@import '../../scss/colors';
@import '../../scss/dimensions';
@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');
//@import '~foundation-sites/scss/foundation.scss';
@import '../../scss/app';

#app {
    background: $bg-primary-color;
    color: $text-color;
    min-height: 100vh;

    font-family: 'Noto Serif', serif;
    font-size: $font-size-3;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
