<template>
    <div id="app">
        <!-- <Menu v-if="$router.currentRoute.name !== 'Login'" /> -->
        <transition name="slide">
            <router-view />
        </transition>
    </div>
</template>

<style lang="scss" src="./App.scss"></style>
<script lang="ts" src="./App.ts"></script>
