<template>
    <button :type="type" class="button" :class="getButtonClasses()" @click="handleClick">
        <span class="loading" v-show="shouldShowLoader">
            <font-awesome-icon v-bind:icon="icon" />
        </span>
        <slot></slot>
    </button>
</template>

<script lang="ts" src="./Button.ts"></script>
<style lang="scss" scoped src="./Button.scss"></style>
