<template>
    <transition name="fade">
        <div class="alert" v-show="!isHidden">
            <div class="alert-box radius" v-bind:class="getClassObject()" @mouseover="handleMouseOver" @mouseleave="handleMouseLeave">
                <slot></slot>
                <a class="close" @click="handleClose">&times;</a>
            </div>
        </div>
    </transition>
</template>

<script lang="ts" src="./Alert.ts"></script>
<style lang="scss" src="./Alert.scss" scoped></style>
