@import '../../scss/colors';
@import '../../scss/app';

.alert {
    position: relative;
    bottom: $global-margin;
    left: $global-margin;
    z-index: 999;
}

.alert-box {
    display: block;
    font-size: $lead-font-size;
    font-weight: normal;
    min-width: 350px;
    max-width: 500px;
    position: relative;

    margin-bottom: $global-margin;
    padding: $global-padding;

    box-sizing: border-box;
    box-shadow: 0 1px 2px #000;

    transition: opacity 300ms ease-out;

    .close {
        right: 0.22222rem;
        background: inherit;
        font-size: 1.22222rem;
        line-height: 0.9;
        margin-top: -0.61111rem;
        opacity: 0.3;
        padding: 0 6px 4px;
        position: absolute;
        top: 50%;
        color: inherit;
    }

    .close:hover {
        opacity: 1;
    }
}

.info {
    background-color: $blue3;
    color: $white;
}

.error {
    background-color: $danger;
    color: $white;
}

.warning {
    background-color: $warning;
    color: $dark;
}

.success {
    background-color: $success;
    color: $white;
}

.hidden {
    opacity: 0;
}
